Brotli==1.0.9
cchardet==2.1.7
certifi==2023.5.7
charset-normalizer==3.2.0
courlan==0.9.3
dateparser==1.1.8
faust-cchardet==2.1.18
htmldate==1.4.3
jusText==3.0.0
langcodes==3.3.0
lxml==4.9.3
numpy==1.25.1
py3langid==0.2.2
pycurl==7.45.2
python-dateutil==2.8.2
pytz==2023.3
regex==2023.6.3
six==1.16.0
tld==0.13
trafilatura==1.6.1
tzlocal==5.0.1
urllib3==2.0.3
